In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
df = pd.read_csv('/home/alberto/Descargas/Hoteles_analisis_20181023.csv')

In [7]:
df.head()

,OBJECTID,Estado,Municipio,Localidad,Nombre,C.P,Latitud,Longitud
1165,COAHUILA DE ZARAGOZA,SALTILLO,Saltillo,HOTEL BRICO,25000.0,25.421622,-101.005505,NaN
1166,COAHUILA DE ZARAGOZA,SALTILLO,Saltillo,HOTEL SIESTA,25070.0,25.396918,-101.009004,NaN
1177,COAHUILA DE ZARAGOZA,PARRAS,Parras de la Fuente,POSADA MI PUEBLITO,0.0,25.438195,-102.181453,NaN
1179,COAHUILA DE ZARAGOZA,SALTILLO,Saltillo,SALTILLENSE. S.A. DE C.V.,25070.0,25.386198,-101.006877,NaN
1203,COAHUILA DE ZARAGOZA,SALTILLO,Saltillo,HOTEL CENTRAL,25070.0,25.397073,-101.009255,NaN

In [34]:
df3 = df.groupby(('OBJECTID','Estado')).Estado.count()

In [39]:
df3.shape

(138,)

In [40]:
df3.to_excel('Hoteles.xlsx',index=False)

In [38]:
df3.head(100)

OBJECTID              Estado
COAHUILA DE ZARAGOZA  ARTEAGA                      1
                      CANDELA                      2
                      GENERAL CEPEDA               3
                      PARRAS                      24
                      RAMOS ARIZPE                11
                      SALTILLO                    65
                      TORREIN                      1
DURANGO               CUENCAM                      6
                      DURANGO                     99
                      GENERAL SIMAN BOL VAR        1
                      GENERAL SIMGN BOLMVAR        1
                      GENERAL SIMIN BOLMVAR        1
                      GUADALUPE VICTORIA           7
                      MEZQUITAL                    3
                      NOMBRE DE DIOS               4
                      P2NUCO DE CORONADO           2
                      PE1                          4
                      POANAS                       3
                      PUEBLO NUEVO                19
                      SAN JUAN DE GUADALUPE        2
                      VICENTE GUERRERO             6
NAYARIT               TECUALA                      4
NUEVO LE              AN5HUAC                      1
                      APODACA                      3
                      GARCOA                       1
                      MONTERREY                    8
                      SAN NICOLNS DE LOS GARZA     2
                      SAN PEDRO GARZA GARCTA       1
NUEVO LE N            APODACA                      1
                      GENERAL ESCOBEDO             2
                                                  ..
NUEVO LEIN            SAN PEDRO GARZA GARCTA       1
                      SAN PEDRO GARZA GARCrA       4
NUEVO LEJN            MONTERREY                    1
NUEVO LELN            GENERAL ESCOBEDO             1
                      GUADALUPE                    1
                      JU1REZ                       2
                      MONTERREY                   10
                      SABINAS HIDALGO              1
                      SALINAS VICTORIA             1
NUEVO LEMN            MONTERREY                    3
                      SAN PEDRO GARZA GARC A       1
NUEVO LENN            APODACA                      6
                      GENERAL ESCOBEDO             1
                      GUADALUPE                    1
                      MONTERREY                   10
NUEVO LEON            CERRALVO                     1
                      MONTERREY                   18
                      SABINAS HIDALGO              1
                      SAN NICOLNS DE LOS GARZA     1
NUEVO LEPN            BUSTAMANTE                   2
                      SAN NICOLNS DE LOS GARZA     2
NUEVO LERN            APODACA                      3
                      GUADALUPE                    1
                      JU1REZ                       1
                      MONTERREY                   10
                      SAN NICOLNS DE LOS GARZA     1
                      SANTA CATARINA               1
NUEVO LESN            GENERAL ESCOBEDO             1
                      GUADALUPE                    1
                      MONTERREY                    8
Name: Estado, Length: 100, dtype: int64

In [42]:
df4=df3

In [43]:
df4.head()

OBJECTID              Estado
COAHUILA DE ZARAGOZA  ARTEAGA            1
                      CANDELA            2
                      GENERAL CEPEDA     3
                      PARRAS            24
                      RAMOS ARIZPE      11
Name: Estado, dtype: int64

In [47]:
df4.to_excel('Hoteles.xlsx')

In [63]:
df5=df[['OBJECTID','Estado']]

In [64]:
df5.head(-1)

                   OBJECTID          Estado
1165   COAHUILA DE ZARAGOZA        SALTILLO
1166   COAHUILA DE ZARAGOZA        SALTILLO
1177   COAHUILA DE ZARAGOZA          PARRAS
1179   COAHUILA DE ZARAGOZA        SALTILLO
1203   COAHUILA DE ZARAGOZA        SALTILLO
1205   COAHUILA DE ZARAGOZA          PARRAS
1208   COAHUILA DE ZARAGOZA          PARRAS
1209   COAHUILA DE ZARAGOZA         ARTEAGA
1246   COAHUILA DE ZARAGOZA        SALTILLO
1249   COAHUILA DE ZARAGOZA        SALTILLO
1282   COAHUILA DE ZARAGOZA    RAMOS ARIZPE
1287   COAHUILA DE ZARAGOZA        SALTILLO
1326   COAHUILA DE ZARAGOZA        SALTILLO
1328   COAHUILA DE ZARAGOZA    RAMOS ARIZPE
1329   COAHUILA DE ZARAGOZA          PARRAS
1363   COAHUILA DE ZARAGOZA    RAMOS ARIZPE
1364   COAHUILA DE ZARAGOZA        SALTILLO
1367   COAHUILA DE ZARAGOZA        SALTILLO
1371   COAHUILA DE ZARAGOZA        SALTILLO
1407   COAHUILA DE ZARAGOZA        SALTILLO
1409   COAHUILA DE ZARAGOZA          PARRAS
1411   COAHUILA DE ZARAGOZA        SALTILLO
1436   COAHUILA DE ZARAGOZA        SALTILLO
1443   COAHUILA DE ZARAGOZA        SALTILLO
1475   COAHUILA DE ZARAGOZA    RAMOS ARIZPE
1482   COAHUILA DE ZARAGOZA        SALTILLO
1483   COAHUILA DE ZARAGOZA        SALTILLO
1484   COAHUILA DE ZARAGOZA    RAMOS ARIZPE
1488   COAHUILA DE ZARAGOZA          PARRAS
1491   COAHUILA DE ZARAGOZA          PARRAS
...                     ...             ...
21666            TAMAULIPAS    NUEVO LAREDO
21681            TAMAULIPAS    NUEVO LAREDO
21683            TAMAULIPAS    NUEVO LAREDO
21690            TAMAULIPAS    NUEVO LAREDO
21691            TAMAULIPAS    NUEVO LAREDO
21694            TAMAULIPAS    NUEVO LAREDO
21697            TAMAULIPAS    NUEVO LAREDO
21700            TAMAULIPAS    NUEVO LAREDO
21725            TAMAULIPAS    NUEVO LAREDO
21739            TAMAULIPAS            MIER
21743            TAMAULIPAS    NUEVO LAREDO
21754            TAMAULIPAS    NUEVO LAREDO
21771            TAMAULIPAS    NUEVO LAREDO
21772            TAMAULIPAS     MIGUEL ALEM
21774            TAMAULIPAS    NUEVO LAREDO
21792            TAMAULIPAS    NUEVO LAREDO
21796            TAMAULIPAS    NUEVO LAREDO
21821            TAMAULIPAS    NUEVO LAREDO
21831            TAMAULIPAS    NUEVO LAREDO
21834            TAMAULIPAS    NUEVO LAREDO
23231             ZACATECAS     JUAN ALDAMA
23351             ZACATECAS  MELCHOR OCAMPO
23443             ZACATECAS     JUAN ALDAMA
23584             ZACATECAS     JUAN ALDAMA
23725             ZACATECAS     MIGUEL AUZA
25123             ZACATECAS     JUAN ALDAMA
25640             ZACATECAS     MIGUEL AUZA
25645             ZACATECAS     MIGUEL AUZA
25679             ZACATECAS     JUAN ALDAMA
25686             ZACATECAS     MIGUEL AUZA

[713 rows x 2 columns]

In [13]:
df1.count()

OBJECTID    714
Estado      714
dtype: int64

In [53]:
estados = ['Aguascalientes','Baja California','Baja California Sur','Campeche','Chiapas','Chihuahua','Ciudad de Mexico','Coahuila de Zaragoza','Colima','Durango','Estado de Mexico','Guanajuato','Guerrero','Hidalgo','Jalisco','Michoacan de Ocampo','Morelos','Nayarit','Nuevo Leon','Oaxaca','Puebla',
           'Queretaro','Quintana Roo','San Luis Potosi','Sinaloa','Sonora','Tabasco','Tamaulipas','Tlaxcala','Veracruz de Ignacio de la Llave','Yucatán',
           'Zacatecas','Distrito Federal']

In [54]:
for i in estados:
    print(i)

Aguascalientes
Baja California
Baja California Sur
Campeche
Chiapas
Chihuahua
Ciudad de Mexico
Coahuila de Zaragoza
Colima
Durango
Estado de Mexico
Guanajuato
Guerrero
Hidalgo
Jalisco
Michoacan de Ocampo
Morelos
Nayarit
Nuevo Leon
Oaxaca
Puebla
Queretaro
Quintana Roo
San Luis Potosi
Sinaloa
Sonora
Tabasco
Tamaulipas
Tlaxcala
Veracruz de Ignacio de la Llave
Yucatán
Zacatecas
Distrito Federal

In [52]:
estados.info()

AttributeError: 'list' object has no attribute 'info'

In [56]:
estados2=df1['OBJECTID'].unique()

In [57]:
estados2.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [19]:

for i in estados:
    print(i)

COAHUILA DE ZARAGOZA
DURANGO
NUEVO LEIN
NUEVO LELN
NUEVO LEON
NUEVO LEtN
NUEVO LE N
NUEVO LEEN
NUEVO LE
NUEVO LETN
NUEVO LEMN
NUEVO LEAN
NUEVO LEeN
NUEVO LEGN
NUEVO LESN
NUEVO LEZN
NUEVO LEVN
NUEVO LEXN
NUEVO LECN
NUEVO LEyN
NAYARIT
NUEVO LENN
NUEVO LERN
NUEVO LEYN
NUEVO LEDN
NUEVO LEUN
NUEVO LEPN
NUEVO LEJN
SINALOA
TAMAULIPAS
ZACATECAS

In [65]:
for i in estados:
    for x in df5:
        if i == x:
            print('Ben')
        else:
            print('Eror609')

Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben
Ben

In [25]:
df2 = df.groupby(('Estado','OBJECTID')).Estado.sum()

In [26]:
df2.head()

Estado   OBJECTID
AN5HUAC  NUEVO LE                                  AN5HUAC
         NUEVO LEAN                                AN5HUAC
         NUEVO LETN    AN5HUACAN5HUACAN5HUACAN5HUACAN5HUAC
APODACA  NUEVO LE                    APODACAAPODACAAPODACA
         NUEVO LE N                                APODACA
Name: Estado, dtype: object

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [18]:
for i in estados:
    print(i)

COAHUILA DE ZARAGOZA
DURANGO
NUEVO LEIN
NUEVO LELN
NUEVO LEON
NUEVO LEtN
NUEVO LE N
NUEVO LEEN
NUEVO LE
NUEVO LETN
NUEVO LEMN
NUEVO LEAN
NUEVO LEeN
NUEVO LEGN
NUEVO LESN
NUEVO LEZN
NUEVO LEVN
NUEVO LEXN
NUEVO LECN
NUEVO LEyN
NAYARIT
NUEVO LENN
NUEVO LERN
NUEVO LEYN
NUEVO LEDN
NUEVO LEUN
NUEVO LEPN
NUEVO LEJN
SINALOA
TAMAULIPAS
ZACATECAS

In [ ]:
df['Estado','Municipio'].head()

In [ ]:
df.head()

In [ ]:
df = df.sample(frac=0.1)